table {
  margin: 20px 0;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #fff;
  padding: 10px;
}
th {
  background-color: #777;
  color: white;
}
.bgcolor {
  background-color: #eee;
}
.stripe tr:nth-child(even) {
  background-color: #eee;
}
.center {
  text-align: center;
}