<%- include('header') -%>

<h2>Search</h2>

<form>
    <p>
        Search:
        <br>
        <input type="search" name="search" value="<%= search ?? '' %>">
        <input type="submit" name="doit" value="Search">
    </p>
</form>

<% if (users?.length) { %>
<%- include('users_table') -%>
<% } %>
