<nav>
    <a href="./guess/">Guess game</a> |
    <a href="./crud/users">CRUD</a> |
    <a href="./user/login">Login</a> |
    <a href="./utils/session">Session</a> |
    <a href="./utils/locals">Locals</a> |
</nav>

<hr>
