<%- include('header') -%>

<h2>Create a new user</h2>

<form method="post" action="/user/register">
    <p>Username:<br><input type="text" name="username" value=""></p>
    <p>Email:<br><input type="text" name="email" value=""></p>
    <p>Password:<br><input type="password" name="password" value=""></p>
    <p>Password (again):<br><input type="password" name="passwordAgain" value=""></p>
    <p><input type="submit" name="doit" value="Create"></p>
</form>
